lfs/
hooks/
__pycache__/
.vs/

bin/
bin-int/
bin-obj/
!vendor/bin/
Makefile

# Visual Studio
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user

# Runtime logs and local settings
logs/
client.cfg
server.cfg
